.iracing-widget
{
  @import "./reset";
  @import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
  @import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row";
  @import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_tables";
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);

  .iracing-seasons {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }

  .table > tbody > tr > td {
      padding: 4px;
  }
}

