<%- include('header'); -%>

  <div class="jumbotron">
    <h2>IRacing Web Widgets</h2>
    <p>Comming soon.  A set of web widgets that can be embedded on any existing site.</p>
    <p><a class="btn btn-primary btn-lg" href="/widgets" role="button">Learn more »</a></p>
  </div>
  <div>&nbsp;</div>
  <div class="jumbotron">
    <h2>IRacing REST Data</h2>
    <p>Get access to a the raw data, via a set REST resources, extracted from the iracing platform.  Build your own website or application.</p>
    <p><a class="btn btn-primary btn-lg" href="/data" role="button">Learn more »</a></p>
  </div>

<%- include('footer'); -%>
